header {
    text-align: center;
    color: #fff;
    background: #00B88A;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: font-family: Montserrat, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

.grid-container {
    color: #1A1A1A;
    background: #ffffff;
}

.grid-container p {
  font-size: 18px;
}

.grid-container a,
.grid-container a:hover,
.grid-container a:focus,
.grid-container a:active,
.grid-container a.active {
    outline: 0;
    color: #2c3e50;
}

.grid-container {
    padding-top: 100px;
    padding-bottom: 50px;
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(226, 255, 255, 0.2);
}

.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
    border-radius: 0; 
}

.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
  border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
    background: rgba(226, 255, 255, 0.2);
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
    color: rgba(226, 255, 255, 0.2);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-custom .navbar-brand {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 10%;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.aboutMe {
    color: #1A1A1A;
    background: #fff;
}

section.aboutMe p {
  font-size: 18px;
}

section.aboutMe a,
section.aboutMe a:hover,
section.aboutMe a:focus,
section.aboutMe a:active,
section.aboutMe a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

section.projects {
    color: #1A1A1A;
    background: #ffffff;
}

section.projects p {
  font-size: 18px;
}

section.projects a,
section.projects a:hover,
section.projects a:focus,
section.projects a:active,
section.projects a.active {
    outline: 0;
    color: #2c3e50;
}

.custom-hover {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.custom-hover p,.custom-hover h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.custom-hover p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.custom-hover h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.navbar-default {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #00B88A;
  border-color: #ffffff;
}

.navbar-default .navbar-brand {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #a6b8b6;
}
.navbar-default .navbar-text {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #a6b8b6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #a6b8b6;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #a6b8b6;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #a6b8b6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a6b8b6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a6b8b6;
    background-color: #ffffff;
  }
}