header {
    text-align: center;
    color: #fff;
    background: #00B88A;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: font-family: Montserrat, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(226, 255, 255, 0.2);
}

.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
    border-radius: 0; 
}

.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
  border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
    background: rgba(226, 255, 255, 0.2);
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
    color: rgba(226, 255, 255, 0.2);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-custom .navbar-brand {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 10%;
}

.home-section {
    padding-top: 110px;
    padding-bottom: 110px;
    display:block;
    position:relative;
    z-index:120;
}

.home-section h2 {
  color: #ffffff;
}

.section-heading h2 {
  font-size: 40px;
}
.section-heading i {
  margin-bottom: 20px;
}

section.aboutMe {
    color: #4C4C4C;
    background: #ffffff;
}

section.aboutMe a,
section.aboutMe a:hover,
section.aboutMe a:focus,
section.aboutMe a:active,
section.aboutMe a.active {
    outline: 0;
    color: #2c3e50;
}
